<h1 class="text-center text-6xl pt-8 font-extrabold">Stimpilklukka</h1>
<div class="flex items-center justify-center flex-col h-screen space-y-8">
  <.button class="w-48">Login</.button>
  <.button class="w-48">Register</.button>
</div>