<.header>
  New Project
  <:subtitle>Use this form to manage project records in your database.</:subtitle>
</.header>

<.project_form changeset={@changeset} action={~p"/user/#{@user_id}/projects"} />

<.back navigate={~p"/user/#{@user_id}/projects"}>Back to projects</.back>
