<.header>
  <%= @project.project_name %>
  <:subtitle><%= @project.project_description %></:subtitle>
  <:actions>
    <.link href={~p"/projects/#{@project}/edit"}>
      <.button>Edit project</.button>
    </.link>
  </:actions>
</.header>


<.back navigate={~p"/projects"}>Back to projects</.back>
